---
const {
    primaryColor = 'rgb(0, 87, 201)',
    hoverColor = 'rgb(0, 102, 255)',
	borderColor = '#00000000'
} = Astro.props;

const borderStyle = `solid ${borderColor} 1px`
---

<button class="button-component">
    <slot />
</button>

<style define:vars={{ primaryColor, hoverColor, borderStyle }}>
    .button-component {
		background-color: var(--primaryColor);
		border-radius: 0.25rem;
		border: var(--borderStyle);
		height: 100%;
		width: 100%;
		transition: 0.2s;
	}

	.button-component:hover {
		background-color: var(--hoverColor);
	}
</style>