---
const {
	href,
	target,
    primaryColor = 'rgb(0, 87, 201)',
    hoverColor = 'rgb(0, 102, 255)',
	borderColor = '#00000000'
} = Astro.props;

const borderStyle = `solid ${borderColor} 1px`
---

<!-- <button class="button-component-container">
    <slot />
</button> -->
<div class="button-component-container">
	<a href={href} target={target}>
		<slot class="button-content" />
	</a>
</div>

<style define:vars={{ primaryColor, hoverColor, borderStyle }}>
    .button-component-container {
		background-color: var(--primaryColor);
		border-radius: 0.25rem;
		border: var(--borderStyle);
		height: 100%;
		width: 100%;
		transition: 0.2s;
	}

	.button-component-container:hover {
		background-color: var(--hoverColor);
	}

	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none;
	}

	.button-content {
		margin: 0 auto;
		width: 100%;
		height: 100%;
	}
</style>