---
const {
    primaryColor = 'white',
    size = '5rem'
} = Astro.props;
---

<p class="logo-text">arndtware</p>

<style define:vars={{ primaryColor, size }}>
    .logo-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Righteous', sans-serif;
        color: var(--primaryColor);
        font-size: var(--size);
    }
</style>