---
const { primaryColor = 'white' } = Astro.props;
---

<div class="logo-text">
    arndtware
</div>

<style define:vars={{ primaryColor }}>
    .logo-text {
        display: flex;
        font-family: 'Righteous', sans-serif;
        line-height: 100%;
        color: var(--primaryColor);
    }
</style>