---
import SiteLayout from '../layouts/SiteLayout.astro';
import ButtonComponent from '../components/ButtonComponent.astro';
---

<SiteLayout>
	<div class="tagline-container">
		<div>
			<h1 class="tagline">Technology Innovation</h1>
			<p class="tagline-text base-text">Arndtware has over 10 years of experience creating solutions and innovations for technology. With a primary focus on software and web development, our background includes a rich history of of everything from server and network administration, to large scale system automation and enterprise SaaS development.</p>
			<div class="button-container">
				<ButtonComponent>Contact</ButtonComponent>
			</div>
		</div>
		<div class="visible-desktop">
			<div class="tagline-image"></div>
		</div>
	</div>
</SiteLayout>

<style>
	.visible-desktop {
		display: none;
	}

	.tagline {
		padding-bottom: 1rem;
	}

	.tagline-text {
		padding: 1rem 0;
		font-size: 1.5rem;
	}

	.button-container {
		height: 4rem;
		width: 100%;
		font-size: 2rem;
	}

	@media (min-width: 768px) {
		.visible-desktop {
			display: unset;
		}

		.tagline-container {
			display: grid;
			grid-auto-flow: column;
			gap: 2rem;
			grid-auto-columns: 3fr 1fr;
		}
	}

	@media (min-width: 1024px) {
		.tagline-container {
			padding: 5rem;
		}
	}
</style>