---
import LogoImageComponent from "./LogoImageComponent.astro";
import LogoTextComponent from "./LogoTextComponent.astro";
---

<div class="site-header-container">
    <div class="logo-image-container">
        <LogoImageComponent primaryColor="black" backgroundColor="white" />
    </div>
    <div class="logo-text-container">
        <LogoTextComponent primaryColor="white" />
    </div>
</div>

<style>
    .site-header-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .logo-image-container {
        height: auto;
        width: 4rem;
    }

    .logo-text-container {
        font-size: 3.3rem;
        align-self: center;
    }

    @media (min-width: 600px) {
        .site-header-container {
            gap: 1.5rem;
            padding: 1.5rem;
        }

        .logo-image-container {
            width: 8rem;
        }

        .logo-text-container {
            font-size: 5rem;
        }
    }

    @media (min-width: 768px) {
        .site-header-container {
            gap: 2rem;
            padding: 2rem;
        }

        .logo-image-container {
            width: 9rem;
        }

        .logo-text-container {
            font-size: 6.5rem;
        }
    }

    @media (min-width: 1024px) {
        .site-header-container {
            gap: 3rem;
            padding: 3rem;
        }

        .logo-image-container {
            width: 10.5rem;
        }

        .logo-text-container {
            font-size: 9rem;
        }
    }
</style>