---
import LogoImageComponent from "./LogoImageComponent.astro";
import LogoTextComponent from "./LogoTextComponent.astro";
---

<div class="site-header-container">
    <div class="logo-image-container">
        <LogoImageComponent primaryColor="black" backgroundColor="white" />
    </div>
    <div class="logo-text-container">
        <LogoTextComponent primaryColor="white" />
    </div>
</div>

<style>
    .site-header-container {
        display: flex;
        justify-items: center;
        gap: 1rem;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        padding: 1rem;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .logo-image-container {
        height: auto;
        width: 3rem;
    }

    .logo-text-container {
        font-size: 2rem;
        align-self: center;
    }
</style>