---
import SiteHeader from '../components/SiteHeader.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Arndtware</title>
	</head>
	<body>
		<SiteHeader />
		<div class="site-content">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Righteous';
		src: url('/assets/fonts/Righteous-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Roboto Thin';
		src: url('/assets/fonts/Roboto-Thin.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Roboto Thin Italic';
		src: url('/assets/fonts/Roboto-ThinItalic.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Roboto Light';
		src: url('/assets/fonts/Roboto-Light.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Roboto Medium Italic';
		src: url('/assets/fonts/Roboto-MediumItalic.ttf') format('truetype');
	}

	:root {
		--primaryTextColor: rgb(240, 240, 240);
		--screenTablet: 768px;
		--screenDesktop: 1024px;
	}

	html {
		box-sizing: border-box;
		min-height: 100%;
	}

	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}

	body {
		margin: 0;
		min-height: 100%;
		background-image: linear-gradient(135deg,#00307c 10%, #390047 50%,#001f51 90%);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		padding: 0;
		font-family: 'Righteous', sans-serif;
		text-transform: uppercase;
		color: var(--primaryTextColor);
	}

	p {
		margin: 0;
		padding: 0;
		font-family: 'Roboto Thin', sans-serif;
		color: var(--primaryTextColor);
	}

	.site-content {
		padding: 1rem;
	}

	.righteous-font {
		font-family: 'Righteous';
		color: var(--primaryTextColor);
	}

	.roboto-light-font {
		font-family: 'Roboto Light';
		color: var(--primaryTextColor);
	}

	.roboto-medium-italic-font {
		font-family: 'Roboto Medium Italic';
		color: var(--primaryTextColor);
	}

	.color-primary-text {
		color: var(--primaryTextColor);
	}
</style>