---
import SiteHeader from '../components/SiteHeader.astro';

const baseTextColor = 'rgb(240, 240, 240)';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Arndtware</title>
	</head>
	<body>
		<SiteHeader />
		<div class="site-content">
			<slot />
		</div>
	</body>
</html>

<style is:global define:vars={{ baseTextColor }}>
	@font-face {
		font-family: 'Righteous';
		src: url('/assets/fonts/Righteous-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Bree Serif';
		src: url('/assets/fonts/BreeSerif-Regular.ttf') format('truetype');
	}

	body {
		margin: 0;
		padding-top: 5rem;
		background-image: linear-gradient(83.21deg,#00063a 0%,#1d0c25 100%);
	}

	.site-content {
		margin: 1rem;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Righteous', sans-serif;
		text-transform: uppercase;
		color: var(--baseTextColor);
	}

	p {
		font-family: sans-serif;
		color: var(--baseTextColor);
	}
</style>